$locale-icons-path: '../icons' !default;
$locale-icons-rect-path: '/4x3' !default;
$locale-icons-square-path: '/1x1' !default;

$locales : ('ar', 'be', 'bg', 'el', 'en', 'es', 'da', 'de', 'fr', 'it', 'ja', 'ko', 'nl', 'no', 'pl', 'pt', 'ro', 'ru', 'sv', 'th', 'wo', 'zh');